# 日志文件
*.log
.minecraft/NBTEdit.log
.minecraft/CustomSkinLoader/Tweaker.log
.minecraft/CustomSkinLoader/CustomSkinLoader.log
.minecraft/CustomSkinLoader/caches/
.minecraft/logs/
.minecraft/crash-reports/

# 缓存文件
.minecraft/config/time.history
.minecraft/XaeroWorldMap/
.minecraft/XaeroWaypoints/
.minecraft/logs/falsepattern_tmp/
.minecraft/config/time.history

# PCL2启动器相关
PCL/*.txt
PCL/LatestLaunch.bat
.minecraft/PCL.ini
.minecraft/launcher_profiles.json

