# 日志文件
*.log
.minecraft/NBTEdit.log
.minecraft/CustomSkinLoader/Tweaker.log
.minecraft/CustomSkinLoader/CustomSkinLoader.log
.minecraft/CustomSkinLoader/caches/
.minecraft/CustomSkinLoader/CustomSkinAPIPlus-ClientID
.minecraft/logs/
.minecraft/crash-reports/

# 缓存文件
.minecraft/config/time.history
.minecraft/logs/falsepattern_tmp/
.minecraft/coretweaks/
.minecraft/mcdata/

# PCL2启动器相关
PCL/*.txt
PCL/LatestLaunch.bat
.minecraft/PCL.ini
.minecraft/launcher_profiles.json

# 个人文件
.minecraft/usernamecache.json
.minecraft/screenshots/
.minecraft/saves/NEI/
.minecraft/saves/NBTEdit.dat
.minecraft/XaeroWorldMap/
.minecraft/XaeroWaypoints/
.minecraft/XaeroWaypoints*/
.minecraft/bettercrashes-stackdeobfuscator-methods.csv
.minecraft/localconfig.cfg
.minecraft/ESM/
.minecraft/lotrmusic/readme.txt

