# Configuration file

bannedblocks {
    B:"gravestone:gravestone-2"=false
    B:"minecraft:grass-0"=false
}


banneditems {
    B:"gravestone:death_info-0"=false
    B:"lotr:item.legsHaradRobes-0"=false
}


general {
    I:"Block 10 percent Regen Interval in ms"=1000
    B:"Block Regeneration Enabled"=true
    I:"Initial Block Regen Delay in ms"=5000

    # Tons of debug printing. Only enable if really needed.
    B:debugMode=false
}


