# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Please note that changing some of these settings may make the mod very difficult to play.
##########################################################################################################

general {
    # Rarity of wizard towers. Higher numbers are rarer. Set to 0 to disable wizard towers completely.
    I:towerRarity=6

    # The chance for mobs to drop a spell book when killed. The greater this number, the more often they will drop. Set to 0 to disable spell book drops. Set to 200 for guaranteed drops.
    I:spellBookDropChance=3

    # List of dimension ids in which crystal ore will generate. Note that removing the overworld (id 0) from this list will make the mod VERY difficult to play!
    I:oreDimensions <
        0
        100
     >

    # List of dimension ids in which crystal flowers will generate.
    I:flowerDimensions <
        0
        100
     >

    # List of dimension ids in which wizard towers will generate.
    I:towerDimensions <
        0
        100
     >

    # Whether to generate wizardry loot in dungeon chests.
    B:generateLoot=true

    # Whether firebombs can be crafted or not.
    B:firebombIsCraftable=true

    # Whether poison bombs can be crafted or not.
    B:poisonBombIsCraftable=true

    # Whether smoke bombs can be crafted or not.
    B:smokeBombIsCraftable=true

    # Whether to require a magic crystal in the shapeless crafting recipe for blank scrolls. Set to true if another mod adds a conflicting recipe.
    B:useAlternateScrollRecipe=false

    # Whether players are allowed to teleport through unbreakable blocks (e.g. bedrock) using the phase step spell.
    B:teleportThroughUnbreakableBlocks=false

    # Whether to show summoned creatures' names and owners above their heads.
    B:showSummonedCreatureNames=true

    # Whether to allow players to damage their designated allies using magic.
    B:friendlyFire=true

    # Whether to allow players to disarm other players using the telekinesis spell. Set to false to prevent stealing of items.
    B:telekineticDisarmament=true

    # For those who like a sense of mystery! When set to true, spells you haven't cast yet will be unreadable until you cast them (on a per-world basis). Has no effect when in creative mode. Spells of identification will be unobtainable in survival mode if this is false.
    B:discoveryMode=true

    # Whether you can switch between spells on a wand by scrolling with the mouse wheel while sneaking. Note that this will only affect you; other players connected to the same server obey their own settings.
    B:enableShiftScrolling=true

    # Whether summoned creatures can revenge attack their owner if their owner attacks them.
    B:minionRevengeTargeting=true

    # Global damage scaling factor for the damage dealt by players casting spells, relative to 1.
    D:playerDamageScaling=1.0

    # Global damage scaling factor for the damage dealt by NPCs casting spells, relative to 1.
    D:npcDamageScaling=1.0

    # Upper limit for the multipliers passed into the /cast command. This is here to stop players from accidentally breaking a world/server. Large blast mutipliers can cause extreme lag - you have been warned!
    D:castCommandMultiplierLimit=20.0

    # List of names of entities which summoned creatures and wizards are allowed to attack, in addition to the defaults. Add mod creatures to this list if you want summoned creatures to attack them and they aren't already doing so. Entity names are not case sensitive. For mod entities, prefix with the mod ID (e.g. wizardry:Wizard).
    S:summonedCreatureTargetsWhitelist <
     >

    # List of names of entities which summoned creatures and wizards are specifically not allowed to attack, overriding the defaults and the whitelist. Add creatures to this list if allowing them to be attacked causes problems or is too destructive (removing creepers from this list is done at your own risk!). Entity names are not case sensitive. For mod entities, prefix with the mod ID (e.g. wizardry:Wizard).
    S:summonedCreatureTargetsBlacklist <
        creeper
     >

    # The position of the spell HUD.
    S:spellHUDPosition=Bottom left

    # The name of the /cast command. This is what you type directly after the /; for example if this was set to 'magic' then instead of typing /cast you would type /magic instead.
    S:castCommandName=cast

    # The name of the /discoverspell command. This is what you type directly after the /; for example if this was set to 'magic' then instead of typing /discoverspell you would type /magic instead.
    S:discoverspellCommandName=discoverspell

    # The name of the /ally command. This is what you type directly after the /; for example if this was set to 'magic' then instead of typing /ally you would type /magic instead.
    S:allyCommandName=ally

    # The name of the /allies command. This is what you type directly after the /; for example if this was set to 'magic' then instead of typing /allies you would type /magic instead.
    S:alliesCommandName=allies
}


##########################################################################################################
# ids
#--------------------------------------------------------------------------------------------------------#
# Change these IDs if they conflict with another mod.
##########################################################################################################

ids {
    # The ID of the frost potion effect. Change if this conflicts with another mod.
    I:frostPotionID=31

    # The ID of the transience potion effect. Change if this conflicts with another mod.
    I:transiencePotionID=32

    # The ID of the fireskin potion effect. Change if this conflicts with another mod.
    I:fireskinPotionID=33

    # The ID of the ice shroud potion effect. Change if this conflicts with another mod.
    I:iceShroudPotionID=34

    # The ID of the static aura potion effect. Change if this conflicts with another mod.
    I:staticAuraPotionID=35

    # The ID of the decay potion effect. Change if this conflicts with another mod.
    I:decayPotionID=36

    # The ID of the sixth sense potion effect. Change if this conflicts with another mod.
    I:sixthSensePotionID=37

    # The ID of the arcane jammer potion effect. Change if this conflicts with another mod.
    I:arcaneJammerPotionID=38

    # The ID of the mind trick potion effect. Change if this conflicts with another mod.
    I:mindTrickPotionID=39

    # The ID of the mind control potion effect. Change if this conflicts with another mod.
    I:mindControlPotionID=40

    # The ID of the font of mana potion effect. Change if this conflicts with another mod.
    I:fontOfManaPotionID=41

    # The ID of the fear potion effect. Change if this conflicts with another mod.
    I:fearPotionID=42

    # The ID of the magic sword enchantment. Change if this conflicts with another mod.
    I:magicSwordEnchantmentID=100

    # The ID of the magic bow enchantment. Change if this conflicts with another mod.
    I:magicBowEnchantmentID=101

    # The ID of the flaming weapon enchantment. Change if this conflicts with another mod.
    I:flamingWeaponEnchantmentID=102

    # The ID of the freezing weapon enchantment. Change if this conflicts with another mod.
    I:freezingWeaponEnchantmentID=103
}


##########################################################################################################
# resistances
#--------------------------------------------------------------------------------------------------------#
# These options allow entities to be made immune to certain types of magic.
##########################################################################################################

resistances {
    # List of names of entities that are immune to fire, in addition to the defaults. Add mod creatures to this list if you want them to be immune to fire magic and they aren't already. Entity names are not case sensitive. For mod entities, prefix with the mod ID (e.g. wizardry:Wizard).
    S:mobsImmuneToFire <
     >

    # List of names of entities that are immune to ice, in addition to the defaults. Add mod creatures to this list if you want them to be immune to ice magic and they aren't already. Entity names are not case sensitive. For mod entities, prefix with the mod ID (e.g. wizardry:Wizard).
    S:mobsImmuneToIce <
     >

    # List of names of entities that are immune to lightning, in addition to the defaults. Add mod creatures to this list if you want them to be immune to lightning magic and they aren't already. Entity names are not case sensitive. For mod entities, prefix with the mod ID (e.g. wizardry:Wizard).
    S:mobsImmuneToLightning <
     >

    # List of names of entities that are immune to wither effects, in addition to the defaults. Add mod creatures to this list if you want them to be immune to withering magic and they aren't already. Entity names are not case sensitive. For mod entities, prefix with the mod ID (e.g. wizardry:Wizard).
    S:mobsImmuneToWither <
     >

    # List of names of entities that are immune to poison, in addition to the defaults. Add mod creatures to this list if you want them to be immune to poison magic and they aren't already. Entity names are not case sensitive. For mod entities, prefix with the mod ID (e.g. wizardry:Wizard).
    S:mobsImmuneToPoison <
     >
}


##########################################################################################################
# spells
#--------------------------------------------------------------------------------------------------------#
# Set a spell to false to disable it. Disabled spells will still have their associated spell book (mainly so the spell books don't all change) and can still be bound to wands, but cannot be cast in game, will not appear in any subsequently generated chests or wizard trades and will not drop from mobs. Disable a spell if it is causing problems, conflicts with another mod or creates an unintended exploit.
##########################################################################################################

spells {
    # 为施法者提供更快的移速和更高的跳跃高度，持续时间30秒。
    B:agility=true

    # 向目标发射一道电弧。
    B:arc=true

    # 阻止目标使用魔法15秒。
    B:arcane_jammer=true

    # “弓箭手，齐射！”
    B:arrow_rain=true

    # 违背目标意愿将其传送到一定范围内的随机位置。
    B:banish=true

    # 撕裂现实。
    B:black_hole=true

    # 使施法者朝所指的方向传送一段距离。
    B:blink=true

    # 创建一个寒风环绕的冰封地带，对困在里面的目标减速并持续造成伤害。施法者免受伤害，但仍然受到减速影响。
    B:blizzard=true

    # 射出一股气泡，被击中的目标会无助的向上漂浮，并在一段时间后坠落且受到伤害。
    B:bubble=true

    # 向目标发射闪电，并随即弹射到一定范围内的多个敌人身上进行连锁攻击，闪电可以进行两次跳跃连锁。
    B:chain_lightning=true

    # 记录一个坐标后，施放此魔法帮助你回到该坐标。 首先潜行右击可以设置一个坐标；当你离开一段距离后，施展此法术，它就会用绿色光斑连接成的路线指引你回去。90秒后这些光斑会消失。
    B:clairvoyance=true

    # 在你所指向的方向生成蜘蛛网，这将持续减慢目标的移动速度，蛛网可以被破坏，持续时间为20秒。
    B:cobwebs=true

    # 在施法者身上制造幽冥护甲，与铁护甲等效，护甲持续时间为60秒。施法者必须要有一个空装备槽才能使用该法术。
    B:conjure_armour=true

    # 制造一把无限箭矢的幽冥弓，持续时间30秒。
    B:conjure_bow=true

    # 制造一把与铁镐等效的幽冥镐，持续时间30秒。
    B:conjure_pickaxe=true

    # 制造一把与铁镐等效的幽冥镐，持续时间30秒。
    B:conjure_sword=true

    # 消除施法者所有的药水效果，不论好坏。
    B:cure_effects=true

    # 将目标的灵魂与施法者永久连锁，使其受到与施法者相同的伤害，直到目标或者施法者死亡。
    B:curse_of_soulbinding=true

    # 向你指的方向发射一个缓慢的黑暗能量体，对击中的目标施加凋零效果。
    B:darkness_orb=true

    # 给予施法者45秒夜视效果。
    B:darkvision=true

    # 向你指的方向发射飞镖，造成伤害并使目标获得虚弱II效果。
    B:dart=true

    # 在地表制造腐化斑点；任何生物接触斑点都会受到感染，随着时间流逝而持续受到伤害，感染者在行走过的地面上会制造更多的腐化区域。
    B:decay=true

    # 制作一个施法者的幻影吸引怪物仇恨，幻影将在30秒后消失。
    B:decoy=true

    # 在你所指向的方向造成爆炸，爆炸会造成爆炸范围内所有生物受到伤害，如施法者在爆炸范围内，那么施法者也将受到伤害。
    B:detonate=true

    # “你的箭矢弱如鸿毛！”
    B:diamondflesh=true

    # 一位真正掌握自然元素魔法的大师能够移山撼地。
    B:earthquake=true

    # 将目标控制在一个黑暗球体中，将其拉向天空并不断对其造成伤害。
    B:entrapment=true

    # 获得30秒的防火效果。
    B:fire_resistance=true

    # 在地上放置一个魔法火焰陷阱，它会伤害并点燃触发它的生物。
    B:fire_sigil=true

    # 朝你指的方向发射一个火球。
    B:fireball=true

    # 朝你指的方向射出一小段火焰。
    B:firebolt=true

    # 向你指的方向投掷一个燃烧弹，在撞击时爆炸并让目标着火。
    B:firebomb=true

    # 将施法者笼罩在火焰中30秒，任何攻击施法者的生物都会被点燃。
    B:fireskin=true

    # “我即是龙。”
    B:firestorm=true

    # 在你指的方向产生一股火焰，它会持续点燃并伤害目标。
    B:flame_ray=true

    # 创造一把燃烧的斧头，会点燃击中的敌人，斧头存在时间30秒。
    B:flaming_axe=true

    # 暂时性的将火焰的力量附加在快捷栏的第一件武器上，使其能够点燃被其攻击的敌人，法术在45秒后失效。
    B:flaming_weapon=true

    # 像鹰一样翱翔。
    B:flight=true

    # “我们体内仿佛有巨量的魔力喷涌而出......” 摘自一位被遗忘的法师的日志，该页面的其余部分已经被烧毁。
    B:font_of_mana=true

    # 仿若新生。
    B:font_of_vitality=true

    # 朝你指向的地方射出一根强有力的箭矢。
    B:force_arrow=true

    # 发射一团能量，击中目标后击退附近生物。
    B:force_orb=true

    # 在你的周围生成一个能够排斥生物和偏移弹射物的力场。
    B:forcefield=true

    # “你竟敢闯入我的森林！”
    B:forests_curse=true

    # 冰冻目标10秒，也能把水冻结或在地表造雪。
    B:freeze=true

    # 暂时性的将冰霜的力量附加在快捷栏的第一件武器上，使其能够冰冻被其攻击的敌人。法术在45秒后失效。
    B:freezing_weapon=true

    # 制造一把冰霜之斧，击中敌人时将其冻伤，冰霜之斧存在时间30秒。
    B:frost_axe=true

    # 在你所指向的方向射出一道冰霜射线，冰霜射线可将目标减速并造成伤害。
    B:frost_ray=true

    # 在地表放置一个魔法冰封陷阱，触发陷阱的生物会被冻结并受到伤害。
    B:frost_sigil=true

    # 允许施法者在空中按住使用键时持续施法滑翔。
    B:glide=true

    # 向你指的方向发射一个大型火球，在击中目标后爆炸。
    B:greater_fireball=true

    # 治疗施法者四颗心。
    B:greater_heal=true

    # 治疗施法者、附近的盟友和召唤的生物三颗心。
    B:group_heal=true

    # 加速施法者附近作物的生长，也能在草地上催生花草。
    B:growth_aura=true

    # 正是在第三纪元的凛冬，纵霜师们发现了他们真正的力量。
    B:hailstorm=true

    # 治疗施法者两颗心。
    B:heal=true

    # 治疗目标两颗半心。
    B:heal_ally=true

    # 释放出一个治愈光环，可以治疗内部的盟友。但是其中的所有亡灵生物都会受到伤害。
    B:healing_aura=true

    # 释放一个追踪敌人的追踪闪电。
    B:homing_spark=true

    # “你将永远冰封于此！”
    B:ice_age=true

    # 发射一个冰块，击中目标后向四周溅射冰碎片并冻伤附近的生物。
    B:ice_charge=true

    # 向你指的方向发射一支巨大能够穿透目标的冰矛，同时伤害并且冻伤被击中的目标。
    B:ice_lance=true

    # 向你指向的方向发射一个冰霜碎片，在命中目标时会使目标受到伤害并减速。
    B:ice_shard=true

    # 为施法者周围生成持续30秒的寒冷罩衣，任何攻击其的实体都会被冻结。
    B:ice_shroud=true

    # 锋利的冰刺从你指向的平面升起，刺穿上面的任何生物。
    B:ice_spikes=true

    # 将目标冰封20秒直到其破裂，目标被冻结时不能移动或者做任何事情，也不会受到伤害。
    B:ice_statue=true

    # 将目标点燃十秒，也能像打火石一样工作。
    B:ignite=true

    # 暂时的为快捷栏上的第一把武器注魔，使其变得更加强力。注魔魔法将会持续45秒。
    B:imbue_weapon=true

    # 发出虚空中的可怖咆哮声，使周围所有生物陷入恐惧状态而四散逃离，恐惧状态将持续30秒。
    B:intimidate=true

    # 使施法者和附近的盟友增加攻击力持续45秒。
    B:invigorating_presence=true

    # 使施法者隐形30秒。
    B:invisibility=true

    # 更改世界的天气。
    B:invoke_weather=true

    # 极大的提升施法者的伤害抗性，持续30秒。
    B:ironflesh=true

    # 使施法者向上跳跃几个方块并稍微前移。
    B:leap=true

    # 施放法术后会向上飘起。在落地前使用，可以免除摔落伤害。
    B:levitation=true

    # 在你指向的方向发射死灵能量，它能汲取被击中目标的生命，可以恢复你的生命。
    B:life_drain=true

    # 创造一个魔法光斑照亮附近的区域，该法术持续30秒。
    B:light=true

    # 在你指向的方向发射一道闪电。
    B:lightning_arrow=true

    # 引导落雷击中你指向的地方。
    B:lightning_bolt=true

    # 在你指向的方向发射一个闪电飞盘，并追踪目标。
    B:lightning_disc=true

    # “代表天怒消灭你！”
    B:lightning_hammer=true

    # 在施法者周围的地面产生一个雷电状的脉冲，该脉冲会对周围实体造成伤害。
    B:lightning_pulse=true

    # 在你指向的方向持续释放闪电，可以不断地伤害目标。
    B:lightning_ray=true

    # 在地上放置一个魔法闪电陷阱，它会对触发它的生物造成伤害并将闪电连导到附近的生物身上。
    B:lightning_sigil=true

    # “集中精力，感受雷暴的力量在你脑海中聚集，再用魔杖将它一并释放。”
    B:lightning_web=true

    # 在你指向的方向发射一道魔法飞弹。
    B:magic_missile=true

    # 改变目标成为另一种形态，只适用于某些生物，如骷髅变成流浪者或者凋零骷髅。
    B:metamorphosis=true

    # 有的巫师只想让世界陷入火海......
    B:meteor=true

    # 控制目标心灵，被控制方会为施法者而战。持续30秒，但对于意志强大的生物无效。
    B:mind_control=true

    # 使目标迷惑15秒，使其无法进行有效攻击。如果目标受到伤害，效果会被消除。
    B:mind_trick=true

    # 提高施法者的伤害抗性30秒。
    B:oakflesh=true

    # 将目标石化，直到石化效果被打破，在黑暗中有几率提前解除石化效果。石化时不能移动或者做其他事情，但也不会受到伤害。
    B:petrify=true

    # 将施法者向前传送一小段距离，可以穿过墙壁。 范围升级可以让你传送的更远。
    B:phase_step=true

    # 黑暗将吞噬一切......
    B:plague_of_darkness=true

    # 每次施法可以熔炼5个可被熔炼的物品（可以是不同的物品），快捷栏中的物品会被优先熔炼。
    B:pocket_furnace=true

    # 为施法者打开工作台界面以便合成物品。
    B:pocket_workbench=true

    # 向你指向的方向发射毒液。
    B:poison=true

    # 向你指向的方向发射一枚毒液弹，击中后破裂并使附近的生物中毒。
    B:poison_bomb=true

    # 补充施法者6点饥饿值。
    B:replenish_hunger=true

    # 在施法者周围制造一个火环，对周围的敌人造成伤害并将其点燃。
    B:ring_of_fire=true

    # 在施法者面前支撑一面暗影护盾，所受到伤害的一半都会返回到攻击者身上。
    B:shadow_ward=true

    # 持续右击支撑起一个能够阻挡弹射物和魔法的法术护盾。同时也会使施法者得到微弱的抗性效果。
    B:shield=true

    # BOOM！
    B:shockwave=true

    # “啊啊啊！他们在使用人海战术！”
    B:silverfish_swarm=true

    # 使施法者能够感知到附近的生物的位置，即使有墙壁阻隔，持续20秒。
    B:sixth_sense=true

    # 命令史莱姆裹住目标，使其移速减缓并持续受伤。史莱姆会在十秒后消失。
    B:slime=true

    # 在你指向的方向发射一个烟雾弹，能够在短时间内释放出烟雾并且使附近的生物致盲。
    B:smoke_bomb=true

    # 在地面放置一个陷阱，触发陷阱的生物会受到伤害并造成短暂的减速效果。
    B:snare=true

    # 向所指的方向方向丢雪球。
    B:snowball=true

    # 在你指向的方向发射一个电击弹，击中后附近的敌人会受到电击。
    B:spark_bomb=true

    # 在你面前制造一个不可破坏的魔法桥梁，能够延伸15个方块，并在60秒后消失。
    B:spectral_pathway=true

    # 召唤一群毒蜘蛛为你战斗，毒蜘蛛如果没有被杀死则会在30秒后消失。
    B:spider_swarm=true

    # 用闪电将施法者包围，持续30秒，任何攻击都会使攻击者遭到电击。
    B:static_aura=true

    # 召唤一个烈焰人为你战斗，烈焰人如果没有被杀死则会在30秒后消失。
    B:summon_blaze=true

    # “碾碎他们！”
    B:summon_ice_giant=true

    # 召唤一个冰封幽灵为你战斗，冰封幽灵如果没有被杀死会在30秒后消失。
    B:summon_ice_wraith=true

    # 自主、自发、自动的战争机器。
    B:summon_iron_golem=true

    # 召唤一个闪电幽灵为你战斗，闪电幽灵如果没有被杀死会在30秒后消失。
    B:summon_lightning_wraith=true

    # 从灰烬之中重生......
    B:summon_phoenix=true

    # §k召唤一个暗影幽灵为你战斗。
    B:summon_shadow_wraith=true

    # 召唤一个骷髅为你战斗，骷髅如果没有被杀死会在30秒后消失。
    B:summon_skeleton=true

    # “复活吧，不死军团！”
    B:summon_skeleton_legion=true

    # 召唤一个雪傀儡为你战斗。一直持续到雪傀儡死亡为止。
    B:summon_snow_golem=true

    # 召唤一匹幽灵马让你乘骑。在下马后过一段时间幽灵马会消失，或者你也可以用魔杖潜行右键点击幽灵马解除这个法术。
    B:summon_spirit_horse=true

    # 召唤一匹幽灵狼为你战斗。幽灵狼只有在被杀死的时候会消失，当然你也可以用魔杖右键点击解除这个法术。
    B:summon_spirit_wolf=true

    # “风暴元素：元素力量的一种古老表现形式，它难以承载其中汹涌的单纯力量。”——《巫师的奥术生物指南》 卷II
    B:summon_storm_elemental=true

    # 召唤一个凋灵骷髅为你战斗，凋灵骷髅存在时间为30秒。
    B:summon_wither_skeleton=true

    # 召唤一个僵尸为你战斗，僵尸如果没有被杀死会在30秒后消失。
    B:summon_zombie=true

    # 移动一个掉落物到你面前或者可以指向一个方块并远程打开，据说也可以用来击落玩家手中的武器。
    B:telekinesis=true

    # 发射一团电流，击退目标。
    B:thunderbolt=true

    # “呣哇哈哈哈哈哈哈！”
    B:thunderstorm=true

    # 在你指向的方向释放出一道龙卷风，在龙卷风路径上的任何东西都会被抛上天。
    B:tornado=true

    # 施法者可以免疫所有伤害，但是不能破坏或者放置方块也不能造成任何伤害，持续二十秒。
    B:transience=true

    # 施法者传送到记录的传送石圈。想要使用此法术，需要制造一个传送石圈，然后用魔杖右击。
    B:transportation=true

    # 允许施法者访问末影箱。
    B:vanishing_box=true

    # 寒冬萦绕于指尖。
    B:wall_of_frost=true

    # 给予施法者水下呼吸60秒。
    B:water_breathing=true

    # 用旋风将目标吹起来并抛向远处。
    B:whirlwind=true

    # 发射一股暗黑射线，任何与其接触的生物都会被附加凋零效果。
    B:wither=true

    # 在你指向的方向发射一个凋灵头颅。
    B:wither_skull=true
}


