# Configuration file

blocks {
    #旗帜  [default: true]
    B:enableBanners=true

    # 允许原木方块在每一边上都有树皮 [default: true]
    B:enableBarkLogs=true

    #木桶  [default: true]
    B:enableBarrel=true

    #屏障  [default: true]
    B:enableBarrier=true

    #高炉  [default: true]
    B:enableBlastFurnace=true

    #蓝冰  [default: true]
    B:enableBlueIce=true

    #骨头方块  [default: true]
    B:enableBoneBlock=true

    #紫颂果 Enables chorus plants and purpur blocks [default: true]
    B:enableChorusBlocks=false

    #砂土  [default: true]
    B:enableCoarseDirt=true

    #混凝土  [default: true]
    B:enableConcrete=true

    #铜矿及铜块、氧化、蜡变 Copper ore and copper blocks, variants, and waxed variants. (Slime balls are used if no mod introduces wax) [default: true]
    B:enableCopper=false

    #铜的子块和物品。如果你想要新的铜质物品和方块，而不是锭，矿石或铜块本身，请禁用铜，但保持这个 Copper sub-blocks and items. Disable copper but keep this on if you want the new copper items and blocks made of it, without the main ingot, ore or copper block itself. [default: true]
    B:enableCopperSubItems=false

    #矢车菊  [default: true]
    B:enableCornflower=true

    #哭泣黑曜石  [default: true]
    B:enableCryingObsidian=true

    #深层石头  [default: true]
    B:enableDeepslate=false

    #各类木头门 Enables wood variant doors [default: true]
    B:enableDoors=false

    #启用木材变异栅栏和栅栏门 Enables wood variant fences and gates [default: true]
    B:enableFences=true

    #各类石材的半砖 Slabs for vanilla blocks: 石头, 苔石砖, 苔石, cut sandstone [default: true]
    B:enableGenericSlabs=false

    #各类石材的楼梯 Stairs for vanilla blocks: stone, mossy stone brick, mossy cobble [default: true]
    B:enableGenericStairs=false

    #陶瓦  [default: true]
    B:enableGlazedTerracotta=true

    #草径  [default: true]
    B:enableGrassPath=true

    #反向日光传感器 Inverted Daylight Sensor [default: true]
    B:enableInvertedSensor=false

    #铁活板门  [default: true]
    B:enableIronTrapdoor=true

    #灯笼  [default: true]
    B:enableLantern=true

    #岩浆炼药锅 Allow lava buckets to fill cauldrons [default: true]
    B:enableLavaCauldrons=true

    #铃兰  [default: true]
    B:enableLilyOfTheValley=true

    #岩浆块  [default: true]
    B:enableMagmaBlock=true
    B:enableNetherBlocks=true

    #下界金矿  [default: true]
    B:enableNetherGold=true

    #下界合金 Netherite  [default: true]
    B:enableNetherite=false

    #地狱疣块  [default: true]
    B:enableNetherwartBlock=true

    #老沙砾  [default: true]
    B:enableOldGravel=false

    #老玫瑰  [default: true]
    B:enableOldRoses=true

    #海晶灯  [default: true]
    B:enablePrismarine=true

    #石英砖  [default: true]
    B:enableQuartzBricks=true

    #红色下界砖块  [default: true]
    B:enableRedNetherBricks=true

    #红砂岩  [default: true]
    B:enableRedSandstone=true

    #告示牌  [default: true]
    B:enableSigns=true

    #粘液块 Just bouncy, does not pull blocks. [default: true]
    B:enableSlimeBlock=true

    #烟熏炉  [default: true]
    B:enableSmoker=true

    #平滑石英  [default: true]
    B:enableSmoothQuartz=true

    #平滑沙石  [default: true]
    B:enableSmoothSandStone=true

    #平滑石  [default: true]
    B:enableSmoothStone=true

    #海绵  [default: true]
    B:enableSponge=true

    #花岗岩/安山岩/闪长岩 Enable Granite/Andesite/Diorite [default: true]
    B:enableStones=false

    #去皮原木 Enables stripped log blocks [default: true]
    B:enableStrippedLogs=true

    #甜浆果灌木  [default: true]
    B:enableSweetBerryBushes=true

    #木头变体活板门 Enables wood variant trapdoors [default: true]
    B:enableTrapdoors=false

    #凝灰岩  [default: true]
    B:enableTuff=false

    #凋零玫瑰  [default: true]
    B:enableWitherRose=true

    #变体木头按钮和压力板 Enables wood variant buttons and pressure plates [default: true]
    B:enableWoodRedstone=true
    #石头矿脉的大小
    I:stoneClusterSize=32
}


client {
    #开启：弓箭渲染
    B:enableBowRendering=true
    #开启：伤害指示器
    B:enableDmgIndicator=true
    #在F3 + H调试项标签上启用NBT标签计数和项目命名空间标签
    B:enableExtraF3HTooltips=true
    #开启：头颅渲染3D效果
    B:enableFancySkulls=true
    B:enableNetherAmbience=true
    B:enableNewBlocksSounds=true
    B:enableNewMiscSounds=true
    #开启：玩家皮肤覆盖
    B:enablePlayerSkinOverlay=false
    #开启透明的盔甲
    B:enableTransparentAmour=true
}


"client (legacy)" {
    #弓在物品栏上渲染拉动动画 Bows render pulling animation on inventory [default: true]
    B:enableBowRendering=true

    #心受损指标 Heart Damage Indicator [default: true]
    B:enableDmgIndicator=true

    #在F3 + H调试项标签上启用NBT标签计数和项目命名空间标签 Enables NBT tag count and item namespace label on F3 + H debug item labels [default: true]
    B:enableExtraF3HTooltips=true

    #背包里的头颅渲染3D效果 Skulls render 3D in inventory [default: true]
    B:enableFancySkulls=true

    #下界氛围音效  [default: true]
    B:enableNetherAmbience=true

    #新的下雨，洞穴等氛围音效 New ambient sounds like rain, cave sounds [default: true]
    B:enableNewAmbientSounds=true

    #新的方块声音 New Blocks sounds, such as the new place/break sounds added alongside new blocks, or ones added to existing blocks [default: true]
    B:enableNewBlocksSounds=true

    #新的声音，如火炉噼啪声，箱子等 New sounds like furnace crackling, chests etc. [default: true]
    B:enableNewMiscSounds=true

    #皮肤1.8 Allows use of 1.8 skin format, and Alex skins. Also includes fixes from SkinPort. (Per SkinPort author's permission) Disable if skin is displaying oddly. [default: true]
    B:enablePlayerSkinOverlay=false

    #透明盔甲 Allow non-opaque armour [default: true]
    B:enableTransparentAmour=true
}


enchants {
    # 冰霜行者  [default: true]
    B:frostWalker=false

    #  [range: 0 ~ 1023, default: 36]
    I:frostWalkerID=36

    # 经验修补  [default: true]
    B:mending=true

    #  [range: 0 ~ 1023, default: 37]
    I:mendingID=37
}


entity {
    #盔甲架  [default: true]
    B:enableArmorStand=true

    #棕色蘑菇牛 Brown mooshroom variant [default: true]
    B:enableBrownMooshroom=true

    #末影螨  [default: true]
    B:enableEndermite=false

    #尸壳 Desert zombie variant [default: true]
    B:enableHusks=false

    #兔子  [default: true]
    B:enableRabbits=false

    #流浪者 Tundra skeleton variant [default: true]
    B:enableStrays=false

    #僵尸村民  [default: true]
    B:enableZombieVillager=false
}


equipment {
    #设置为true来禁用其他mod的防火实体 Set to true to disable the fireproof item entity Netherite/ancient debris etc uses [default: false]
    B:enableNetheriteFlammable=false

    #下界合金甲耐久性度  [range: 1 ~ 2147483647, default: 37]
    I:netheriteArmourDurabilityFactor=37

    #覆盖地狱mod的合金斧的耐久 Override Netherite Axe Durability, -1 to disable [range: -1 ~ 2147483647, default: -1]
    I:netheriteAxeDurability=-1

    # Override Netherite Boots Durability, -1 to disable [range: -1 ~ 2147483647, default: -1]
    I:netheriteBootsDurability=-1

    # Override Netherite Chestplate Durability, -1 to disable [range: -1 ~ 2147483647, default: -1]
    I:netheriteChestplateDurability=-1

    #下界合金的伤害 Neterite base damage, Diamond is 3.0 [range: 0.0 ~ 3.4028235E38, default: 4.0]
    S:netheriteDamageBase=4.0

    #下界合金附魔能力  [range: 1 ~ 2147483647, default: 15]
    I:netheriteEnchantability=15

    # Netherite harvest level, Diamond is 3 [range: 0 ~ 2147483647, default: 4]
    I:netheriteHarvestLevel=4

    # Override Netherite Helmet Durability, -1 to disable [range: -1 ~ 2147483647, default: -1]
    I:netheriteHelmetDurability=-1

    # Override Netherite Hoe Durability, -1 to disable [range: -1 ~ 2147483647, default: -1]
    I:netheriteHoeDurability=-1

    # Override Netherite Leggings Durability, -1 to disable [range: -1 ~ 2147483647, default: -1]
    I:netheriteLeggingsDurability=-1

    # Override Netherite Pickaxe Durability, -1 to disable [range: -1 ~ 2147483647, default: -1]
    I:netheritePickaxeDurability=-1

    # Override Netherite Shovel Durability, -1 to disable [range: -1 ~ 2147483647, default: -1]
    I:netheriteSpadeDurability=-1

    # Netherite mining speed, Diamond is 8.0 [range: 0.1 ~ 3.4028235E38, default: 9.0]
    S:netheriteSpeed=9.0

    # Override Netherite Sword Durability, -1 to disable [range: -1 ~ 2147483647, default: -1]
    I:netheriteSwordDurability=-1

    #  [range: 1 ~ 2147483647, default: 2031]
    I:netheriteToolDurability=2031
}


function {
    # 船在陆地上行驶的最大速度. 这种选择存在的原因是，当船在滑滑的块上行驶时，速度非常非常快. 
    # Land speed = 0.6, Regular/Packed Ice Speed = 0.98, 浮冰Speed = 0.986. 任何小于0.6的东西在陆地上都非常非常慢。任何超过1的值都是指数增长，不鼓励这样做. (老版的天境(Aether)里面的速沙 (Quicksoil)是1.1 ) 
    # 那个速度值只是块的滑度值，而且是船底滑滑块的平均值.   [range: 0.1 ~ 无穷, default: 0.986]
    S:boatMaxLandSpeed=0.986 

    #自动添加矿石到高炉，检测输入是否有“矿石”或字典前缀，是可熔炼的。关闭的话仅原版矿石 Auto-adds ores to the blast furnace, detected if the input has the "ore" oreDictionary prefix and is smeltable. Turn off for only vanilla ores [default: true]
    B:enableAutoAddBlastFurnace=true

    # 自动给烟熏炉添加可烹饪的食物合成表，如果false，那烟熏炉就只能烹饪原版食物了 [default: true]
    B:enableAutoAddSmoker=true

    #宝宝喂大  [default: true]
    B:enableBabyGrowthBoost=true

    #栅栏、栅栏门和枯死的灌木丛燃烧 Fences, gates and dead bushes burn [default: true]
    B:enableBurnables=true

    #枯死的灌木丛掉落木棍 Dead Bushes drop sticks [default: true]
    B:enableBushSticks=true

    #龙重生  [default: true]
    B:enableDragonRespawn=false

    # If true, copper will drop 2-3 and fortune will yield more than normal. [default: true]
    B:enableExtraCopper=false

    #浮动的陷阱门  [default: true]
    B:enableFloatingTrapDoors=true

    # 如果true，在干草捆上的掉落伤害将会减少 [default: true]
    B:enableHayBaleFalls=true

    # 允许像干草捆、树叶等 用锄头采集更快 [default: true]
    B:enableHoeMining=true

    #末影人刷在地狱 Allow endermen to rarely spawn in the Nether [default: true]
    B:enableNetherEndermen=true

    #海晶灯合成表  [default: true]
    B:enablePrismarineRecipes=true

    #不死图腾的合成表，因为目前没有其他办法得到他们 Recipe for totems since there's no other way to get them currently. [default: false]
    B:enableRecipeForTotem=false

    #蜘蛛网可以剪  [default: true]
    B:enableShearableCobwebs=true

    #雪傀儡摘帽子  [default: true]
    B:enableShearableSnowGolems=true

    # Mushroom blocks can be silk-touched [default: true]
    B:enableSilkMushroom=true

    #高压苦力怕掉头颅 Skulls drop from charged creeper kills [default: true]
    B:enableSkullDrop=true

    #使长满苔藓的，裂开的石砖可加工 Makes mossy, cracked and chiseled stone brick craftable [default: true]
    B:enableStoneBrickRecipes=true

    # 使用更新的食物价值 [default: true]
    B:enableUpdatedFood=false

    # 采集：冰、梯子、西瓜 有更好的首选工具 [default: true]
    B:enableUpdatedHarvestLevels=true

    #雷劈村民变女巫 Villagers turn into Witches when struck by lightning [default: true]
    B:enableVillagerTurnsIntoWitch=true

    # 如果你在草地上行走有问题，设置为true.  临时选项，直到修复了1.7的走路系统. [default: false]
    B:fullGrassPath=false

    #干草块减伤害 If enableHayBaleFalls is true, what percent should we keep for the fall damage? [range: 0 ~ 99, default: 20]
    I:hayBaleReducePercent=20

    # 船的驾驶位  如果false, 那么一次只能有一个人坐在副驾驶座上. [default: true]
    B:newBoatPassengerSeat=true

    # Registers raw ores as "ore____" in the OreDictionary. Configurable in case it causes crafting issues. [default: true]
    B:registerRawItemAsOre=false

    # 如果true，旧船会被新的橡树船取代，物品也会被改变. False表示新船和旧船的物品是分开存在的，并且新船会在他们的制作配方中使用木铲. 
    # 如果这是启用的，如果船里有一个实体，那么它将暂时不会被替换，直到实体离开. 
    # 这将不能正常工作与更好的船mod一起安装！！！！！！！！ [default: true]
    B:replaceOldBoats=false

    #如果你带着图腾死亡，你的图腾最大生命值的百分比 
    #（Percentage of max health for totem to set you at if you die with it.）
    #(5% is 0.05, 20 * 0.05 = 1, 1 health is one half-heart) [range: 5 ~ 100, default: 5]
    I:totemHealPercent=5
}


items {
    #甜菜根  [default: true]
    B:enableBeetroot=true

    #鞘翅  [default: true]
    B:enableElytra=false

    #铁粒  [default: true]
    B:enableIronNugget=false

    #滞留型药水  [default: true]
    B:enableLingeringPotions=false

    #羊肉  [default: true]
    B:enableMutton=false

    #新的船  [default: true]
    B:enableNewBoats=true

    #新染料  [default: true]
    B:enableNewDyes=true

    # 如果true, 原版和[EF]未来更新的铜矿会掉落粗矿. [default: true]
    B:enableRawOres=false

    #迷之炖菜  [default: true]
    B:enableSuspiciousStew=true

    #箭头  [default: true]
    B:enableTippedArrows=false

    #不死图腾  [default: true]
    B:enableTotemUndying=true
}


replacement {
    #铁砧  [default: true]
    B:enableAnvil=false

    #信标光束可以用彩色玻璃着色 Beacon beam can be colored using stained glass [default: true]
    B:enableBeacon=false

    #酿造台  [default: true]
    B:enableBrewingStand=false

    #附魔台  [default: true]
    B:enableEnchantingTable=false

    # 替换旧的 酿造台/附魔台/Daylight Sensors/信标 with new one on the fly. (注意，从2.1.0开始，这个选项已经被重做以获得更好的性能. 如果您由于延迟而禁用了它，请考虑再次尝试!) [default: true]
    B:enableTileReplacement=true
}


world {
    #铜矿的最大矿脉尺寸（Max vein size for copper ore blocks in a cluster）range: 0 ~ 64, default: 14]
    I:copperClusterSize=14

    # 第二种远古残骸的最大矿脉尺寸, 通常是更大的远古残骸的矿脉, 是那种生成在 Y轴 8-22 高度的 [range: 0 ~ 64, default: 3]
    I:debrisMax=3

    # 仅当深板岩生成模式设置为1时, 这个值用于确定矿脉的大小. 否则该值不使用. [range: 0 ~ 128, default: 64]
    I:deepslateClusterSize=64

    # 如果为0,深板岩将替换指定y轴高度以下的所有石头. 如果是1, 他将会按照上面的矿脉设置，通过矿脉生成. -1 将完全禁用深层板岩生成 [range: -1 ~ 1, default: 0]
    I:deepslateGenerationMode=0

    # 深板岩和凝灰岩有多高。 如果深板岩生成模式设置为0，则所有到这个y轴高度的石头，都会被深板岩取代 (在低于22层之前，有一些块的散射效果) . 如果它是1，the patches 可以生成到那个Y轴高度. [range: 0 ~ 256, default: 22]
    I:deepslateMaxY=22

    # 深度板岩是否会覆盖泥土 (仅当深板岩生成模式设置为0时有效) [default: true]
    B:deepslateReplacesDirt=false

    # 深板岩是否覆盖花岗岩、闪长岩、安山岩 (仅当深板岩生成模式设置为0时有效) [default: true]
    B:deepslateReplacesStones=false

    # 空气旁边能产生远古残骸吗 （Can ancient debris generate next to air?） [default: false]
    B:enableAirDebris=false

    # 当深板岩产生时，启用深板岩矿石为铜矿和原版矿石. [default: true]
    B:enableDeepslateOres=true

    # 是否开启化石 Note: 目前化石是不旋转的（Fossils currently do not rotate） [default: true]
    B:enableFossils=true

    # 是否开启海底遗迹  Note: 海洋遗迹目前没有守护者 [default: true]
    B:enableOceanMonuments=true

    # 0 = Et Futurum骨块, 1 = Netherlicious骨块, 2 = UpToDateMod骨块. 如果那些mod没有安装，Et Futurum骨块将被使用 [range: 0 ~ 2, default: 0]
    I:fossilBoneBlock=0

    # 在这些维度，化石结构不在里面产生.
    I:fossilDimensionBlacklist <
        -1
        1
     >

    #岩浆块的最大脉尺寸 Max vein size for magma blocks in a cluster [range: 0 ~ 64, default: 33]
    I:maxMagmaPerCluster=33

    #下界合金的最大脉尺寸 Max vein size for nether gold ore blocks in a cluster [range: 0 ~ 64, default: 10]
    I:maxNetherGoldPerCluster=10

    #闪长岩、安山岩、花岗岩的最大脉尺寸 [range: 0 ~ 64, default: 33]
    I:maxStonesPerCluster=33

    # 第一种远古残骸的最大矿脉尺寸, 通常是更小的远古残骸的矿脉，是那种生成在 Y轴 8-119 高度的 [range: 0 ~ 64, default: 2]
    I:smallDebrisMax=2

    #凝灰岩的最大脉尺寸 （Max vein size for tuff blocks in a cluster） [range: 0 ~ 64, default: 48]
    I:tuffClusterSize=48
}


